.about {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    @media(max-width: 713px) {
        align-items: center;
    }

    &__image {
        margin-right: 65px;
        @media(max-width: 713px) {
            margin: 0 0 20px 0;
        }

        img {
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
            width: 400px;
            height: 350px;
            max-width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
    @media(max-width: 713px) {
        flex-direction: column;
    }
}

.content {
    &__link {
        color: #1678f4;
        font-weight: 800;
        margin-bottom: 15px;
    }

    &__title {
        font-size: 26px;
        line-height: 30px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 18px;
    }
}
